@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: Norse Bold;
    src: url(assets/Norse-Bold.otf);
}


*{
    box-sizing: border-box;
    margin: 0;
    --alternate-black: rgba(6, 5, 4, 0.892);
}

body{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    --aside-width: 30vw;
}

.bg-img{
    width: var(--aside-width);
}

aside{
    height: 100%;
    width: var(--aside-width);
    display: flex;
    font-family: "Encode Sans Condensed", serif;
}

.img-credit{
    position: absolute;
    color: white;
    bottom: 10px;
    left: 12.5%;
}

.logo-section{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    height: 5.5rem;
    width: var(--aside-width);
    font-size: 4.5rem;
    font-family: Norse Bold;

    position: absolute;
    top: 22.5%;
    left: 0px;
    color: white;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logo{
    height: 4.25rem;
}

main{
    height: 100%;
    width: calc(100% - var(--aside-width));
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Encode Sans Condensed", serif;
}


section.top{
    height: 33.6vh;
    width: 100%;
    background-color: var(--alternate-black);
    padding-top: 10%;
    padding-left: 30px;
}

.top-text{
    width: 45ch;
}

.top-text-lower{
    padding-top: 20px;
}

section.middle{
    height: 25vh;
    width: 100%;
    background-color: black;
}

.middle-title{
    margin-bottom: 10px;
    padding-left: 20px;
}

section.bottom{
    height: calc(100vh - 33.6vh - 25vh);
    width: 100%;
    background-color: var(--alternate-black);

    padding-left: 20px;
    padding-top: 25px;
}

button{
    padding: 5px 10px;
    width: 200px;
    font-family: inherit;
    font-size: 0.9rem;
    border-radius: 5px;
    border: none;
    background-color: #596D48;
    color: white;
    margin-bottom: 20px;
}

button:hover{
    color: #596D48;
    background-color: white;
    cursor: pointer;
}

button:active{
    background-color: #596D48;
    color: white;
}


form{
    font-family: Norse Bold;
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(2, 300px);
}

form label{
    font-size: 0.75rem;
}

form input{
    width: 250px;
    font-family: inherit;
    border: solid 1px #596D48;
    border-radius: 5px;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


::selection{
    color: black;
    background-color: lightskyblue;
}

input[type=password]:invalid{
    border: solid 1px red;
}

input:focus{
    border: solid 1px lightblue;
}


